<html>
    <head>
        <title>{{title}} - RPS Game</title>
        <link rel="stylesheet" href="{{url_for('static', filename='/main.css') }}">
    </head>
    <body>
        <header class="main-header">
            <h1 class="game-title">Rock-Paper-Scissors Game</h1>
            <br>
            <section>
                <nav>
                    <ul class="nav-container">
                        <li><a href="/welcome">Home</a></li>
                        <li><a href="/play">Play a Friend</a></li>
                        <li><a href="/play-cpu">Play the CPU</a></li>
                        <li><a href="/welcome">Rules</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </section>
        </header>


    {% block content%}

    {% endblock %}

        <footer class="main-footer">
            <h4>Created by Gary Darnell - CodeClan E49</h2>
            <section></section>
                <nav>
                    <ul class="nav-container">
                        <li><a href="/welcome">Home</a></li>
                        <li><a href="/play">Play a Friend</a></li>
                        <li><a href="/play-cpu">Play the CPU</a></li>
                        <li><a href="/welcome">Rules</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </section>
        </footer>
    </body>
</html>