{% extends "base.html" %}

{% block content %}

<section>
    <form action="/play" method="POST">
        <label for="player1-name">Player one's name:</label>
        <input type="text" name="player1-name" id="player1-name">
        <label for="player1-choice">Player one's choice</label>
        <select name="player1-choice" id="player1-choice">
            <option value="rock">ROCK</option>
            <option value="paper">PAPER</option>
            <option value="scissors">SCISSORS</option>
        </select>
        <label for="player2-name">Player two's name:</label>
        <input type="text" name="player2-name" id="player2-name">
        <select name="player2-choice" id="player2-choice">
            <option value="rock">ROCK</option>
            <option value="paper">PAPER</option>
            <option value="scissors">SCISSORS</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</section>

{% endblock %}