{% extends "base.html" %}

{% block content %}
<body>
    <h1>The Rules</h1>
    <section>
        <p>The rules are very simple. First choose your weapon: rock, paper or scissors. Then see if you beat your opponent. 
            Simply put: Rock beats scissors, scissors beats paper and paper beats rock.
        </p>
        <br>
        <p>
            On this site you can test your skills against a friend or even, if you're brave enough,
            match wits with the computer!
        </p> 
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>


{% endblock %}
